@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: black;
}

/* header */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    float: right;
    font-size: 150%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#logo, #menu {
    line-height: 80px;
}

#menu a:hover {
   border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* pic1-images */

#pic1-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#pic1 {
    height: 600px;
    width: 100%;
    background: url('../css/images/pic1.jpeg') no-repeat center center;

}

/* stpes for instalation */

#steps {
    text-align: center;
    margin: 30px 0;
    font-size: 250%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

#left-colum {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-colum {
    padding-top: 30px;
    width: 50%;
    float: right;
}

.left-colum-heading {
    width: 65%;
    text-align: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 17%;
}

.right-colum-heading {
    width: 65%;
    text-align: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 17%;
}