@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: black;
}

/* header */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    float: right;
    font-size: 150%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#logo, #menu {
    line-height: 80px;
}

#menu a:hover {
   border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* pic1-images */

#pic1-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#pic1 {
    height: 600px;
    width: 100%;
    background: url('../css/images/pic1.jpeg') no-repeat center center;

}

#cover-text {
    width: 60%;
    height: 300px;
    background-color: rgba(235, 206, 168, 0.6);
    bottom: 30px;
    position: absolute;
    margin-left: 20%;


}

#cover-text > h2 {
    font-family: Itim, cursive;
   color: #fff;
   font-size: 400%;
   margin-left: 30px;
   margin-top: 30px;
}

.become-reality {
    text-align: center;    
}

/* stpes for instalation */

#steps {
    text-align: center;
    margin: 30px 0;
    font-size: 250%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

#left-colum {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-colum {
    padding-top: 30px;
    width: 50%;
    float: right;
}

.left-colum-heading {
    width: 65%;
    text-align: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 17%;
}

.right-colum-heading {
    width: 65%;
    text-align: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 17%;
}

#steps-section {
    width: 100%;
    height: 400px;
}

/* footer */

footer {
    background-color: rgb(196, 168, 132);
    height: 150px;
    width: 100%;
    position: relative;
}

.contact {
    font-size: 100%;
    height: 150px;
    float: left;
    padding-left: 5%;
    padding-top: 4%;
    margin-right: 30px;
    
}

.contact li {
  list-style-type: none;
  color: #fff;
}

.social-networks i {
    font-size: 200%;
    color: #fff;
    padding: 5%;
    float: right;
    margin-right: 30px;
}

.social-networks > li {
    display: inline;
}

/* tv waals galery */

#tv-walls-galery {
    width: 100%;
    height: 1200px;
}

#tv-walls-galery {
    clear: both;
    line-height: 1px solid #fff;
    column-count: 4;
    column-gap: 1px solid #fff;

}

#tv-walls-galery > img {
    width: 100%;
}

/* ceilings-galery */

#ceilings-galery {
    width: 100%;
    height: 1200px;
    clear: both;
    line-height: 1px solid #fff;
    column-count: 4;
    column-gap: 1px solid #fff;

}

#ceilings-galery > img {
    width: 100%;
}


/* getaquate-page */

#getaquote-page {
    width: 100%;
    height: 500px;
}

#cover-pictures-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgb(185, 140, 83);
}

#cover-pictures-div {
    background: url('../css/images/1616781841_16-p-podvesnie-potolki-krasivo-16.jpeg') no-repeat center center;
    height: 800px;
    width: 100%;
}

#cover-text-quote {
    width: 50%;
    height: 150px;
    background-color: rgba(185, 140, 83, 0.5);
    bottom: 100px;
    position: absolute;
    margin-left: 25%;
    text-align: center;
}

#cover-text-quote h2 {
    font-family: Itim, cursive;
   color: #fff;
   font-size: 400%;
   margin-left: 30px;
   margin-top: 30px;
}

